.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #ffffff #ffffff #338374 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #ffffff #ffffff #dee2e6;
    color: #4c4c4c;
}

.nav-tabs .nav-link {
    color: #8e8e8e;
}

.parent-product {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin-right: -0.8%;
    margin-left: -0.8%;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    .card {
        margin: 0px 5px;
        &.product {
            flex: 0 1 auto;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
            max-width: 20%;
            padding: 0 0.8% 3%;
            box-sizing: border-box;
        }
    }
}

.form-control:focus {
    border-color: $primary;
    box-shadow: 0 0 0 1px $primary;
}