.navbar{
    background-color: $primary;
    .nav-link {
        color: white !important;
        font-size: 14px;
    }
    .form-inline {
        width: 800px;
        .form-control {
            width: 100%;
        }
    }
}