button:focus {
    outline: none;
}
.shadow-box {
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
    &.right {
        box-shadow: 5px 4px 0 0 rgba(166,166,166,.1);
    }
}
.no-border {
    border: 0;
}
.category-badge {
    padding: 5px 10px;
    border: solid 1px #e5e7e9;
    border-radius: 1rem;
}
.tab-pane {
    label {
        font-size: 13px;
    }
    .form-control {
        height: 35px;
    }
    select {
        height: 35px !important;
    }
    .btn {
        height: 35px;
        width: 100%;
        margin-top: 5px;
    }
}

.cat-box {
    position: relative;
    padding: 5px 15px 0;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    .cat-item {
        position: relative;
        display: inline-block;
        padding: 5px;
        vertical-align: top;
        width: 24%;
        text-align: left;
        white-space: nowrap;
        border-bottom: 1px solid #e0e0e0;
        box-sizing: border-box;
        a {
            color: unset;
            &:hover {
                text-decoration: unset;
                color: red;
            }
        }
    }
}


    .foot {
        border-top: 1px solid #e0e0e0;
        padding: 20px 0px;
        position: relative;
    }
    .footer-item {
        float: left;
        width: 13.5%;
        ul {
            list-style: none;
            padding-inline-start: 0;
            li {
                line-height: 20px;
                a {
                    color: #909090;
                    display: block;
                    &:hover {
                        color: red;
                        text-decoration: unset;
                    }
                }
            }
        }
    }

        .icon-google {
            display: inline-block;
        background-size: contain;
        width: 16px;
        height: 17px;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…EtMi45NjMtMS40OTQgOC4yMDkgOC4yMDkgMCAwIDEtMi4yMS0yLjcxOCcvPjwvZz48L3N2Zz4K) center no-repeat;
        }
        .alt-icon {
            position: absolute!important;
            top: 50%!important;
            left: 25px!important;
            transform: translateY(-50%)!important;
        }

.iconify {
    &.left-arrow {
        position: absolute;
    top: 45%;
    display: block;
    width: 30px;
    left: -35px;
    height: 30px;
    padding: 0;
    }
    &.right-arrow {
        position: absolute;
    top: 45%;
    display: block;
    width: 30px;
    right: -35px;
    height: 30px;
    padding: 0;
    }
    &.left-arrow-cat {
        position: absolute;
    top: 40%;
    display: block;
    z-index: 9;
    width: 30px;
    left: -10px;
    height: 30px;
    padding: 0;
    }
    &.right-arrow-cat {
        position: absolute;
    top: 40%;
    z-index: 9;
    display: block;
    width: 30px;
    right: -10px;
    height: 30px;
    padding: 0;
    }
}

.btn-slick {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 7px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  /* opacity: .2; */
}

.slick-active {
  /* opacity: .5; */
}

.slick-current {
  opacity: 1;
}
