@charset "UTF-8";
.navbar {
  background-color: #008374;
}
.navbar .nav-link {
  color: white !important;
  font-size: 14px;
}
.navbar .form-inline {
  width: 800px;
}
.navbar .form-inline .form-control {
  width: 100%;
}

button:focus {
  outline: none;
}

.shadow-box {
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
}
.shadow-box.right {
  box-shadow: 5px 4px 0 0 rgba(166, 166, 166, 0.1);
}

.no-border {
  border: 0;
}

.category-badge {
  padding: 5px 10px;
  border: solid 1px #e5e7e9;
  border-radius: 1rem;
}

.tab-pane label {
  font-size: 13px;
}
.tab-pane .form-control {
  height: 35px;
}
.tab-pane select {
  height: 35px !important;
}
.tab-pane .btn {
  height: 35px;
  width: 100%;
  margin-top: 5px;
}

.cat-box {
  position: relative;
  padding: 5px 15px 0;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.cat-box .cat-item {
  position: relative;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  width: 24%;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.cat-box .cat-item a {
  color: unset;
}
.cat-box .cat-item a:hover {
  text-decoration: unset;
  color: red;
}

.foot {
  border-top: 1px solid #e0e0e0;
  padding: 20px 0px;
  position: relative;
}

.footer-item {
  float: left;
  width: 13.5%;
}
.footer-item ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.footer-item ul li {
  line-height: 20px;
}
.footer-item ul li a {
  color: #909090;
  display: block;
}
.footer-item ul li a:hover {
  color: red;
  text-decoration: unset;
}

.icon-google {
  display: inline-block;
  background-size: contain;
  width: 16px;
  height: 17px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…EtMi45NjMtMS40OTQgOC4yMDkgOC4yMDkgMCAwIDEtMi4yMS0yLjcxOCcvPjwvZz48L3N2Zz4K) center no-repeat;
}

.alt-icon {
  position: absolute !important;
  top: 50% !important;
  left: 25px !important;
  transform: translateY(-50%) !important;
}

.iconify.left-arrow {
  position: absolute;
  top: 45%;
  display: block;
  width: 30px;
  left: -35px;
  height: 30px;
  padding: 0;
}
.iconify.right-arrow {
  position: absolute;
  top: 45%;
  display: block;
  width: 30px;
  right: -35px;
  height: 30px;
  padding: 0;
}
.iconify.left-arrow-cat {
  position: absolute;
  top: 40%;
  display: block;
  z-index: 9;
  width: 30px;
  left: -10px;
  height: 30px;
  padding: 0;
}
.iconify.right-arrow-cat {
  position: absolute;
  top: 40%;
  z-index: 9;
  display: block;
  width: 30px;
  right: -10px;
  height: 30px;
  padding: 0;
}

.btn-slick {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 7px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  /* opacity: .2; */
}

.slick-active {
  /* opacity: .5; */
}

.slick-current {
  opacity: 1;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #ffffff #ffffff #338374 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #ffffff #ffffff #dee2e6;
  color: #4c4c4c;
}

.nav-tabs .nav-link {
  color: #8e8e8e;
}

.parent-product {
  position: relative;
  display: flex;
  margin-right: -0.8%;
  margin-left: -0.8%;
  flex-flow: row wrap;
}
.parent-product .card {
  margin: 0px 5px;
}
.parent-product .card.product {
  flex: 0 1 auto;
  display: inline-flex;
  flex-basis: 20%;
  max-width: 20%;
  padding: 0 0.8% 3%;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #008374;
  box-shadow: 0 0 0 1px #008374;
}
/*# sourceMappingURL=app.css.map*/